<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.igroupes.rtadmin.mapper.SystemUserStatMapper">

    <select id="getStat" resultType="com.igroupes.rtadmin.result.StatResult">
        SELECT pt date , SUM(register_count) register_count , SUM(login_count) login_count , SUM(show_count) show_count ,SUM(show_user_count) show_user_count, SUM(user_count) user_count
        FROM
        (
            -- 每天注册人数
            SELECT SUBSTR(add_time,1,10) pt , COUNT(1) register_count , 0 login_count, 0 show_count, 0 show_user_count,0 user_count
            FROM system_user
            where 1 = 1
            <if test="startDate!=null and startDate!=''">
                and SUBSTR(add_time,1,10) >= #{startDate}
            </if>
            <if test="endDate!=null and endDate!=''">
                and SUBSTR(add_time,1,10) &lt;= #{endDate}
            </if>
            GROUP BY pt

            UNION ALL

            -- 每天的登录次数
            SELECT SUBSTR(add_time,1,10) pt , 0 register_count, COUNT(1) login_count , 0 show_count, 0 show_user_count,0 user_count
            FROM `system_login_session`
            where 1 = 1
            <if test="startDate!=null and startDate!=''">
                and SUBSTR(add_time,1,10) >= #{startDate}
            </if>
            <if test="endDate!=null and endDate!=''">
                and SUBSTR(add_time,1,10) &lt;= #{endDate}
            </if>
            GROUP BY pt

            UNION ALL

            SELECT a.pt, 0 register_count, 0 login_count,SUM(b.cnt)  show_count  , 0 show_user_count, 0 user_count
            FROM (
            SELECT SUBSTR(add_time,1,10) pt , COUNT(1) cnt FROM system_user_stat WHERE operate = 100001
            GROUP BY pt
            ) a
            JOIN  (
            SELECT SUBSTR(add_time,1,10) pt , COUNT(1) cnt FROM system_user_stat WHERE operate = 100001
            GROUP BY pt
            ) b
            ON a.pt > b.pt
            where 1 = 1
            <if test="startDate!=null and startDate!=''">
                and a.pt >= #{startDate}
            </if>
            <if test="endDate!=null and endDate!=''">
                and a.pt &lt;= #{endDate}
            </if>
            GROUP BY a.pt


            UNION ALL

            SELECT SUBSTR(add_time,1,10) pt , 0 register_count, 0 login_count, 0 show_count, COUNT(DISTINCT user_id) show_user_count ,0 user_count
            FROM `system_user_stat`
            WHERE operate = 100001
            <if test="startDate!=null and startDate!=''">
                and SUBSTR(add_time,1,10) >= #{startDate}
            </if>
            <if test="endDate!=null and endDate!=''">
                and SUBSTR(add_time,1,10) &lt;= #{endDate}
            </if>
            GROUP BY pt

            UNION ALL

            SELECT a.pt, 0 register_count, 0 login_count,0 show_count  , 0 show_user_count, SUM(b.cnt) user_count
            FROM (
                SELECT SUBSTR(add_time,1,10) pt , COUNT(1) cnt FROM system_user
                GROUP BY pt
            ) a
            JOIN  (
                SELECT SUBSTR(add_time,1,10) pt , COUNT(1) cnt FROM system_user
                GROUP BY pt
            ) b
            ON a.pt > b.pt
            where 1 = 1
            <if test="startDate!=null and startDate!=''">
                and a.pt >= #{startDate}
            </if>
            <if test="endDate!=null and endDate!=''">
                and a.pt &lt;= #{endDate}
            </if>
            GROUP BY a.pt
        ) t
        GROUP BY pt
    </select>

    <select id="getUserCount" resultType="java.lang.Integer">
        SELECT  COUNT(id) cnt FROM system_user
        where 1 = 1
        <if test="endDate!=null and endDate!=''">
            and SUBSTR(add_time,1,10) &lt;= #{endDate}
        </if>

    </select>

    <select id="getShowCount" resultType="java.lang.Integer">
        SELECT  COUNT(id) cnt FROM system_user_stat WHERE operate = 100001
        <if test="endDate!=null and endDate!=''">
            and SUBSTR(add_time,1,10) &lt;= #{endDate}
        </if>

    </select>
</mapper>