<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.igroupes.rtadmin.mapper.SystemPermissionMapper">

    <select id="getPermissionById" resultType="com.igroupes.rtadmin.entity.SystemPermissionEntity">
        select c.*
        from system_user_role a
        left join system_role_perm b
        on a.role_id = b.role_id
        left join system_perm c
        on b.perm_id = c.id
        where a.is_del = 0 and (b.is_del = 0 or b.is_del is null) and (c.is_del = 0 or c.is_del is null)
        and a.user_id = #{userId}
    </select>


</mapper>